@font-face { font-family: Lora; src: url('font/Lora-Regular.ttf'); } 
@font-face { font-family: Lora; font-weight: bold; src: url('font/Lora-Bold.ttf');}
@font-face { font-family: Lora; font-style: italic; src: url('font/Lora-Italic.ttf');}
@font-face { font-family: Lora; font-weight: bold; font-style: italic; src: url('font/Lora-BoldItalic.ttf');}
@font-face { font-family: DM-Sans; src: url('font/DMSans-Regular.ttf'); } 
@font-face { font-family: DM-Sans; font-style: italic; src: url('font/DMSans-Italic.ttf'); } 
@font-face { font-family: DM-Sans; font-weight: bold; src: url('font/DMSans-Medium.ttf');}
@font-face { font-family: DM-Sans; font-weight: bold; font-style: italic; src: url('font/DMSans-MediumItalic.ttf');}
@font-face { font-family: DM-Sans; font-weight: bolder; src: url('font/DMSans-Bold.ttf');}

:root {
    --title: DM-Sans;
    --body: DM-Sans;

    --dark: #222c3c;
    --light: #e2e0d5;
    --light-tint: #e2e0d585;
    --shadow: #999ea7;
    --b-color: #d8b26e;
    --m-color: #b69b7d;
    --focus-color: white;

    --title-size: 5.625rem;
    --subtitle-size: calc(5/9 * var(--title-size));
    --menu-size: calc(1/3 * var(--title-size));
    --text-size: calc(2/9 * var(--title-size));
    --caption-size: calc(1/6 * var(--title-size));

    --main-width: calc(8 * var(--title-size));

    --debg-borders: none;



}

body {
    padding: 0% 1% 1% 1%;
    position: relative;
    z-index: -1;
    display: flex;
    min-height: 95vh;
    flex-flow: column nowrap;
    font-family: var(--body);
    font-size: var(--text-size);
    color: var(--dark);
    background-image: url("img/paper_background.jpg"); 
    background-size: 110% 110%;   
    background-color: var(--light);
}
.overlay {
    z-index: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: var(--light-tint);
}
.content {
    position: relative;
    z-index: 1;
}
.spacer {
    flex: 10 10 auto;
}

a:focus {
    border: 3px solid var(--focus-color);
    border-radius: 5px;
}
/* 
--------------- HEADER --------------- 
contains the back button and name text
*/
header {
    border-top: var(--debg-borders) green;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border-bottom: 3px solid var(--shadow);
    height: calc(1 * var(--title-size));
}
header h1 {
    border: var(--debg-borders) blue;

    font-family: var(--title);
    font-weight: bold;
    font-size: var(--title-size);
    color: var(--b-color);
    text-shadow: 0 0 2px var(--m-color);

    text-align: right;
    white-space: nowrap;
    width: 50%;
    min-width: calc(5.7 * var(--title-size));
    margin: 0px 15px 0 0;

    position: relative;
}
header h1 a {
    text-decoration: none;
    color: var(--b-color);

    position: relative;
    top: calc(-1/10 * var(--title-size));
    
}
.head-space {
    flex-grow: 10;
    flex-shrink: 5;
    height: calc(3/2 * var(--text-size));
    min-width: calc(5 * var(--text-size));
    border: 1px var(--debg-borders) purple;
    align-self: flex-end;
}

.back-button {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    

    font-family: var(--title);
    font-size: var(--text-size);
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    background-color: var(--light);

    border: solid var(--shadow);
    color: var(--dark);
}
header .back-button {
    top: -8px;
}
.back-button:hover {
    color: var(--b-color);
    background-color: transparent;
   
}


/*
    contains the main panel and sidebar
*/
.content-container {
    /*
    border-style: solid;
    border-color: blue;*/
    width: 100%;
    min-width: calc(5.7 * var(--title-size) + 5 * var(--text-size));
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: flex-start;
}


/* 
--------------- SIDEBAR NAV --------------- 
*/
.sidebar {
    /*
    border-style: solid;
    border-color: green; */
    border-left: 3px solid var(--shadow);
    text-align: right;
    width: 12.5%;
    min-width: 150px;
    max-width: 200px;
    padding: 5px 9px 5px 5px;
}

.sidebar p {
    border-right: 1px var(--debg-borders) green;
    margin: -2px 10px 0 0;
    white-space: nowrap;
    border-bottom: 1px solid var(--shadow);
}
.sidebar a {
    text-decoration: none;
    font-size: var(--menu-size);
    color: var(--dark);
}
.sidebar a:hover {
    color: var(--b-color);
}




/* 
--------------- MAIN PANEL --------------- 
*/
.main {
    border: var(--debg-borders) red;
    flex: 0 1 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    width: var(--main-width);
    min-height: 90vh;
}
.main h2 {
    border: 4px var(--debg-borders) blue;
    position: relative;
    font-size: var(--subtitle-size);
    top: -.75em;
    color: var(--dark);
    border-bottom: 3px solid var(--b-color);
    height: 1.2em;
    text-align: right;
}
.main .head-casing {
    position: relative;
    border: 6px var(--debg-borders) purple;
    width: 100%;
    height: calc(1.3 * var(--subtitle-size));
}


/* 
--------------- HOMEPAGE --------------- 
*/
/* home page showcase of two projects*/
#home.main {
    width: calc(1.75 * var(--main-width));
}
#home.main h2 {
    top: 1em;
}
.showcase {
    border: 3px var(--debg-borders) green;
    width: 75%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-around;

}

/* Project blurb container*/
.project-display {
    border: 3px none var(--m-color);
    width: calc(.5 * var(--main-width));
    padding: 20px 10px 5px 10px;
}

/*Clickable thumbnail image*/
.showcase .project-display a.proj-thumb {
    border: 2px solid var(--b-color);
    display: block;
    width: 100%;
    height: calc(3/5 * .5*var(--main-width));
    background-size: contain;
    
}
.showcase .project-display a.proj-thumb img {
    width: 100%;
    height: 100%;
}

/*project label and description*/
.proj-label {
    position: relative;
    font-family: var(--title);
    font-size: var(--menu-size);
    text-align: center;
    border-bottom: 3px solid var(--b-color);
    padding-bottom: 3px;

    height: var(--menu-size);
    margin-top: calc(-.1 * var(--menu-size));
}
.proj-label a {
    color: var(--dark);
    text-decoration: none;
}
.proj-label a:hover {
    color: var(--b-color);
}
.proj-desc {
    position: relative;
    font-family: var(--body);
    font-size: var(--caption-size);
    margin: calc(-1.5 * var(--text-size)) auto auto auto;
    text-align: center;
}




/* 
--------------- BIO --------------- 
*/
.main .body-wrapper {
    border: 2px var(--debg-borders) orange;
    position: relative;
    width: var(--main-width); 
    padding: 10px 10px 10px 10px;
    font-size: var(--text-size);
    font-family: var(--body);
    margin-top: -1.25em;
    text-align: justify;
    text-indent: 5%;
}


.main .body-wrapper .info {
    text-align: right;
    position: relative;
}
#head.info {
    text-decoration: underline;
    text-decoration-color: var(--b-color);
}
#email.info {
    top: -1em;
}
a.email {
    color: var(--dark);
    text-decoration: none;
}
a.email:hover {
    color: var(--b-color);
}
/* 
--------------- SFC PROJECT --------------- 
*/
#SFC.main figure {
    margin-left: 0px;
}
.proj-page-img {
    width: calc(.9*var(--main-width));
    border: 2px solid var(--b-color);
} 
.body-wrapper .caption {
    font-size: var(--caption-size);
    text-indent: 0px;
    margin-top: -.4em;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--b-color);
}




/* 
--------------- RESUME --------------- 
*/
.main .resume-img {
    border: 2px solid var(--b-color);
    position: relative;
    width: var(--main-width); 
    height: calc(11/8.5 * var(--main-width));
}


.dl-link {
    font-size: var(--text-size);
    color: var(--dark);
    
}
.dl-link a {
    text-decoration: none;
    color: var(--dark);
}
.dl-link a:hover {
    color: var(--b-color);
}

/* 
--------------- ERROR/NOT FOUND --------------- 
*/
#error.main h2 {
    font-size: var(--menu-size);
    font-family: var(--title);
    text-align: center;
    height: auto;
}
