@font-face { font-family: Lora; src: url('font/Lora-Regular.ttf'); } 
@font-face { font-family: Lora; font-weight: bold; src: url('font/Lora-Bold.ttf');}
@font-face { font-family: Lora; font-style: italic; src: url('font/Lora-Italic.ttf');}
@font-face { font-family: Lora; font-weight: bold; font-style: italic; src: url('font/Lora-BoldItalic.ttf');}
@font-face { font-family: DM-Sans; src: url('font/DMSans-Regular.ttf'); } 
@font-face { font-family: DM-Sans; font-style: italic; src: url('font/DMSans-Italic.ttf'); } 
@font-face { font-family: DM-Sans; font-weight: bold; src: url('font/DMSans-Medium.ttf');}
@font-face { font-family: DM-Sans; font-weight: bold; font-style: italic; src: url('font/DMSans-MediumItalic.ttf');}
@font-face { font-family: DM-Sans; font-weight: bolder; src: url('font/DMSans-Bold.ttf');}

:root {
    --title: DM-Sans;
    --body: DM-Sans;

    --dark: #222c3c;
    --light: #e2e0d5;
    --light-tint: #e2e0d585;
    --shadow: #999ea7;
    --b-color: #d8b26e;
    --m-color: #b69b7d;

    --title-size: 90px;
    --subtitle-size: calc(5/9 * var(--title-size));
    --menu-size: calc(1/3 * var(--title-size));
    --text-size: calc(2/9 * var(--title-size));

    --debg-borders: none;
}

body {
    padding: 0% 1% 1% 1%;
    position: relative;
    z-index: -1;
    display: flex;
    min-height: 95vh;
    flex-flow: column nowrap;
    font-family: var(--body);
    background-image: url("img/paper_background.jpg"); 
    background-size: 110% 110%;   
    background-color: var(--light);
}
.overlay {
    z-index: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: var(--light-tint);
}
.content {
    position: relative;
    z-index: 1;
}



.header {
    border-top: var(--debg-borders) green;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border-bottom: 3px solid var(--shadow);
    height: calc(1 * var(--title-size));
}
.header h1 {
    border: var(--debg-borders) blue;

    font-family: var(--title);
    font-weight: bold;
    font-size: var(--title-size);
    color: var(--b-color);
    text-shadow: 0 0 1px var(--dark);

    text-align: right;
    white-space: nowrap;
    width: 50%;
    min-width: calc(5.7 * var(--title-size));
    margin: 0px 15px 0 0;

    position: relative;
}
.header h1 a {
    text-decoration: none;
    color: var(--b-color);

    position: relative;
    top: calc(-1/10 * var(--title-size));
    
}
.head-space {
    flex-grow: 10;
    flex-shrink: 5;
    height: calc(3/2 * var(--text-size));
    min-width: calc(5 * var(--text-size));
    border: 1px var(--debg-borders) purple;
    align-self: flex-end;
}

.back-button {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    top: -8px;

    font-family: var(--title);
    font-size: var(--text-size);
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    background-color: var(--light);

    border: solid var(--shadow);
    color: var(--dark);
}
.back-button:hover {
    color: var(--b-color);
    background-color: transparent;
   
}


/*
    contains the main panel and sidebar
*/
.content-container {
    /*
    border-style: solid;
    border-color: blue;*/
    width: 100%;
    min-width: calc(5.7 * var(--title-size) + 5 * var(--text-size));
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: flex-start;
}


/*
    Sidebar Navigation Menu
*/
.sidebar {
    /*
    border-style: solid;
    border-color: green; */
    border-left: 3px solid var(--shadow);
    text-align: right;
    width: 12.5%;
    min-width: 150px;
    max-width: 200px;
    padding: 5px 9px 5px 5px;
}

.sidebar p {
    border-right: 1px var(--debg-borders) green;
    margin: -2px 10px 0 0;
    white-space: nowrap;
    border-bottom: 1px solid var(--shadow);
}
.sidebar a {
    text-decoration: none;
    font-size: var(--menu-size);
    color: var(--dark);
}
.sidebar a:hover {
    color: var(--b-color);


}



/*
    Main content panel
*/

.main {
    border: var(--debg-borders) red;
    flex-grow: 5;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.main h2 {
    position: relative;
    top: 10px;
    font-size: var(--subtitle-size);
    color: var(--dark);
    border-bottom: 3px solid var(--b-color);
    height: 1.2em;
    margin-bottom: 20px;
    text-align: right;
}
.main .head-casing {
    position: relative;
    border: var(--debg-borders) pink;
    width: calc(8 * var(--title-size));
}

    /* about me page */
.main .text-wrapper {
    
    position: relative;
    width: calc(8 * var(--title-size)); 
    padding: 10px 10px 10px 10px;
}
.main .text-wrapper .abt-me {
    font-size: var(--text-size);
    font-family: var(--body);
    text-align: justify;
    text-indent: 5%;
    margin-top: -0.75em;
    
}



.showcase {
    /*border-style: solid;*/
    width: 75%;
    height: 30%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;

}



.project-display {
    
    border-style: solid;
    border-color: purple;
    width: 33%;
    height: 95%;
}
.main .spacer {
    height: 10%;
}

/*
    Resume Page
*/

.main .resume-img {
    border: 2px solid var(--b-color);
    position: relative;
    width: calc(8 * var(--title-size)); 
    height: calc(8 * 11/8.5 * var(--title-size));
}




.dl-link {
    font-size: var(--text-size);
    color: var(--dark);
    
}
.dl-link a {
    text-decoration: none;
    color: var(--dark);
}
.dl-link a:hover {
    color: var(--b-color);
}
